html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.Picture {
    width : 250px;
    height : 250px;
    object-fit:cover
}

.avatar {
    width: 50px;
    height: 50px ;
    object-fit:cover
}